#gm-map {
    display: block;
    width: 100%;
    height: 680px;
}
.adp-directions{
	width: 100%;
}
.adp-summary{
	font-weight: bold;
	font-size: 18px;
	color: #c0392b;
}
.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
  overflow-y: initial !important
}