.nav>li>a{
 height: 30px;

}
.place-order-number{
    display: table-cell;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    background: red;
    border-radius: 50%;
    color: white;
   /* padding: 4px;*/
    float: left;
    margin-right: 2px;
  }